<header #header>
  <div class="navbar" id="navbar" [ngStyle]="{ color: color }">
    <a
      routerLink="/"
      class="header-link"
      id="home-link"
      style="margin: 0"
      (mouseenter)="hovered($event)"
      (mouseleave)="hovered($event)"
      [ngStyle]="{ color: color }"
    >
      raymond morland
    </a>
    <div class="navlinks">
      <!-- <a routerLink="about">about</a>
      <a routerLink="work">work</a> -->
      <!-- <a routerLink="words">words</a> -->
      <!-- <a [routerLink]="['/work']" routerLinkActive="router-link-active">work</a> -->
      <a
        class="header-link"
        [routerLink]="['/about']"
        routerLinkActive="router-link-active"
        (mouseenter)="hovered($event)"
        (mouseleave)="hovered($event)"
        [ngStyle]="{
          color: color
        }"
        >ABOUT</a
      >
      <a
        class="header-link"
        [routerLink]="['/work']"
        routerLinkActive="router-link-active"
        (mouseenter)="hovered($event)"
        (mouseleave)="hovered($event)"
        [ngStyle]="{ color: color }"
        >WORK</a
      >
      <a
        class="header-link"
        href="mailto:raymondmorland@gmail.com"
        (mouseenter)="hovered($event)"
        (mouseleave)="hovered($event)"
        [ngStyle]="{ color: color }"
        >EMAIL</a
      >
      <!-- <a
        href="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/Raymond+Morland+Resume.pdf"
        target="_blank"
        download
        class="resume-link"
        >resume</a
      > -->
    </div>
  </div>
</header>
