header

    position: absolute
    width: 100%
    z-index: 100

    .navbar
        display: flex
        align-items: top
        max-width: 100%
        padding: 3em 10em 3em 10em
        justify-content: space-between
        align-items: center

    a
        color: #fff
        text-decoration: none

    .logo
        text-decoration: none
        text-transform: lowercase
        font-size: 4em
        letter-spacing: .05em

    .navlinks
        display: flex
        flex-direction: row
        align-items: center

        a
            margin-left: 2em
            text-transform: lowercase
            border-bottom: 1px solid rgba(0,0,0,0)

        a:hover
            border-bottom: 1px solid white

        .resume-link
            background: white
            color: #1b1b1b
            padding: 0.5em 1em
            font-weight: bold
