@use '../../../../assets/styles/_variables' as vars

header
    position: absolute
    width: 100%
    z-index: 100

    .navbar
        align-items: top
        max-width: 100%
        padding: 5vh 10vw 5vh 10vw
        justify-content: space-between
        align-items: center

        a
            font-size: 2vw
            margin-left: 1em
            text-transform: uppercase

        a:hover
            text-decoration: underline

        .navlinks
            display: flex
            flex-direction: row
            align-items: center

        .resume-link
            background: white
            color: #1b1b1b
            padding: 0.5em 1em
            font-weight: bold

@media (max-width: vars.$MobileSmallWidth)
    .navbar

@media (min-width: vars.$MobileLargeWidth)
    .navbar

@media (max-width: vars.$LaptopWidth)
    .navbar
        display: none

@media (min-width: vars.$LaptopWidth)
    .navbar
        display: flex
