<header>
  <div class="navbar" [ngStyle]="{'background-color': backgroundColor}">
    <a routerLink="" routerLinkActive="router-link-active"  class="logo" style="margin: 0">
      <b
        ><span style="font-family: 'Antonio', sans-serif">r</span
        ><span style="font-family: 'Cantora One', sans-serif">m</span></b
      >
    </a>
    <div class="navlinks">
      <a routerLink="about">about</a>
      <a routerLink="work">work</a>
      <!-- <a routerLink="words">words</a> -->
      <a routerLink="contact">contact</a>
    </div>
  </div>
</header>
