<main>
  <div *ngIf="project" class="content">
    <!-- Intro Section -->
    <div class="section" style="margin: 0">
      <h2 appear>{{ project.title }}</h2>
    </div>
    <!-- Projects Stats Section -->
    <div *ngIf="project.year" class="section portfolio-project-section-stats">
      <div appear class="stats-item">
        <h3 style="margin-bottom: 0.7em">year</h3>
        <p>{{ project.year }}</p>
      </div>
      <div appear class="stats-item">
        <h3 style="margin-bottom: 0.7em">location</h3>
        <p>{{ project.location }}</p>
      </div>
      <div appear class="stats-item">
        <h3 style="margin-bottom: 0.7em">industry</h3>
        <p>{{ project.industry }}</p>
      </div>
      <div appear class="stats-item">
        <h3 style="margin-bottom: 0.7em">services</h3>
        <div
          *ngFor="let service of project.services.split(',')"
          style="margin-right: 0.75em"
          class="project-service"
        >
          <p>{{ service }}</p>
        </div>
      </div>
    </div>
    <!-- Main Video Section -->
    <div *ngIf="image" class="section">
      <div appear class="image-wrapper">
        <video
          style="width: 100%"
          loop
          autoplay
          muted
          webkit-playsinline
          playsinline
          [src]="project.primary_video.url"
        ></video>
      </div>
    </div>
    <div
      *ngIf="project.the_client"
      class="section portfolio-project-section info"
    >
      <div appear class="left-section">
        <a [href]="project.url" target="_blank">VISIT WEBSITE</a>
      </div>
      <div appear class="right-section">
        <p>
          {{ project.the_client }}
        </p>
      </div>
    </div>
    <div
      *ngIf="project.gallery"
      class="section portfolio-project-section images"
    >
      <div appear class="left-image">
        <img [src]="project.gallery[0].url" (load)="loaded(true)" alt="" />
      </div>
      <div appear class="right-image">
        <img [src]="project.gallery[1].url" alt="" />
      </div>
    </div>
    <div class="section portfolio-project-section info-2">
      <div appear class="left-section">
        <p>
          {{ project.summary }}
        </p>
      </div>
      <div class="right-section">
        <ul
          *ngIf="project.stack"
          style="margin: 0; padding: 0; list-style-type: none; float: right"
        >
          <li appear *ngFor="let software of project.stack.split(',')">
            {{ software }}
          </li>
        </ul>
      </div>
    </div>
    <div
      *ngIf="project.gallery"
      class="section portfolio-project-section images-2"
    >
      <div appear class="left-image" style="flex: 3">
        <img [src]="project.gallery[2].url" alt="" />
      </div>
      <div appear class="right-image" style="flex: 2">
        <img [src]="project.gallery[3].url" alt="" />
      </div>
    </div>
    <!-- Next Project Section -->
    <div
      class="section portfolio-project-section bottom"
      style="margin-bottom: 0"
    >
      <a
        appear
        [routerLink]="['/work']"
        style="margin-top: 10vh; margin-bottom: 20vh"
      >
        back to projects
      </a>
    </div>
  </div>
</main>
