@use '../../../assets/styles/_variables' as vars

main
    min-height: 100vh
    color: #3f4238

    .content
        padding-top: 20vh

    a
        color: #3f4238
        border-bottom: 0.1em solid #3f4238

    a:hover
        border-bottom-color: #3f4238

    img
        // filter: grayscale(1)
        opacity: .8
        height: 80vh

        object-fit: cover

    video
        opacity: .8

    p
        text-transform: uppercase
        line-height: normal
        margin-top: 0
        letter-spacing: .15em

    .portfolio-project-section
        display: flex
        flex-direction: row
        flex-wrap: wrap
        gap: 20px

    .info
        .left-section
            margin-bottom: 40px

        .right-section

    .info-2
        .left-section
            margin-bottom: 40px

        .right-section

    .portfolio-project-section-stats
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex: 3
        gap: 20px
        flex-direction: row
        flex-wrap: wrap

        .stats-item

        .left-section

        .right-section

    .portfolio-project-section .images-2

    img
        width: 100%

    .images
        .left-image
            img
                object-position: 0 0
        .right-image
            img
                object-position: 0 40%

    .images-2
        .left-image
            img
                object-position: 0 60%
        .right-image
            img
                object-position: 0 100%

    #back-to-work
        transition: all .2s ease
        &:hover
            opacity: 1

@media screen and (max-width: vars.$MobileLargeWidth)
    li
        font-size: 16px
    .portfolio-project-section-stats
        gap: 20px
    .section
        margin-bottom: 50px

    .portfolio-project-section .bottom
        justify-content: center

@media screen and (max-width: vars.$MobileLargeWidth)
    li
        font-size: 16px
    .portfolio-project-section-stats
        flex-direction: column

        .stats-item
            flex: 30%
    .section
        margin-bottom: 10vh

    .info
        .left-section
            flex: 100%

        .right-section
            flex: 100%

    .info-2
        .left-section
            flex: 100%

        .right-section
            flex: 100%

    .images
        .left-image
            flex: 100%
        .right-image
            flex: 100%

    .images-2
        .left-image
            flex: 100%
        .right-image
            flex: 100%

@media screen and (min-width: vars.$MobileLargeWidth)
    li
        font-size: 20px

    .info
        .left-section
            flex: 3

        .right-section
            flex: 2

    .info-2
        .left-section
            flex: 2

        .right-section
            flex: 3

    .images
        .left-image
            flex: 3
        .right-image
            flex: 2

    .images-2
        .left-image
            flex: 2
        .right-image
            flex: 3

@media screen and (min-width: vars.$LaptopWidth)
    li
        font-size: 1.7vw
    .portfolio-project-section-stats
        gap: 40px

        .stats-item
            flex: 1

    .section
        margin-bottom: 26vh
