<main>
  <div
    *ngIf="project"
    class="content"
    [@animate]="{ value: '*', params: { delay: '350ms' } }"
  >
    <!-- Intro Section -->
    <div class="section">
      <div style="margin-bottom: 10em; text-transform: uppercase">
        <h2>{{ project.title }}</h2>
      </div>
    </div>
    <!-- Projects Stats Section -->
    <div
      class="section portfolio-project-section"
      style="justify-content: flex-end"
    >
      <div style="flex: 2"></div>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          flex: 3;
        "
      >
        <div>
          <h3 style="margin-bottom: 0.7em">year</h3>
          <p>{{ project.year }}</p>
        </div>
        <div>
          <h3 style="margin-bottom: 0.7em">location</h3>
          <p>{{ project.location }}</p>
        </div>
        <div>
          <h3 style="margin-bottom: 0.7em">industry</h3>
          <p>{{ project.industry }}</p>
        </div>
        <div>
          <h3 style="margin-bottom: 0.7em">services</h3>
          <div
            *ngFor="let service of project.services.split(',')"
            style="margin-right: 0.75em"
            class="project-service"
          >
            <p>{{ service }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Image Section -->
    <div *ngIf="image" class="section">
      <div class="image-wrapper">
        <!-- <img
          class="filtered-image"
          [src]="image.url"
          alt=""
          style="margin-bottom: 1em"
        /> -->
        <video
          style="width: 100%"
          loop
          autoplay
          muted
          src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/abacus_1.mov"
        ></video>
      </div>
    </div>
    <div class="section portfolio-project-section info">
      <div class="left-section" style="flex: 3">
        <a href="">VISIT WEBSITE</a>
      </div>
      <div class="right-section" style="flex: 2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a
          felis a diam congue efficitur nec in est. Sed maximus nec enim in
          lacinia. Morbi a metus sed ipsum lobortis varius. Nunc sagittis quis
          lectus vitae imperdiet.
        </p>
      </div>
    </div>
    <div class="section portfolio-project-section">
      <img
        style="flex: 3; object-position: 0 0"
        src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/abacusdatagraphics.com_home+(1).png"
        alt=""
      />
      <img
        style="flex: 2; object-position: 0 40%"
        src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/abacusdatagraphics.com_home+(1).png"
        alt=""
      />
    </div>
    <div class="section portfolio-project-section info">
      <div class="left-section" style="flex: 2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a
          felis a diam congue efficitur nec in est. Sed maximus nec enim in
          lacinia. Morbi a metus sed ipsum lobortis varius. Nunc sagittis quis
          lectus vitae imperdiet.
        </p>
      </div>
      <div class="right-section" style="flex: 3">
        <ul style="margin: 0; padding: 0; list-style-type: none; float: right">
          <li><p>JAVASCRIPT</p></li>
          <li><p>ANGULAR</p></li>
        </ul>
      </div>
    </div>
    <div class="section portfolio-project-section">
      <img
        style="flex: 2; object-position: 0 60%"
        src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/abacusdatagraphics.com_home+(1).png"
        alt=""
      />
      <img
        style="flex: 3; object-position: 0 100%"
        src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/abacusdatagraphics.com_home+(1).png"
        alt=""
      />
    </div>
    <!-- Next Project Section -->
    <div class="section portfolio-project-section" style="margin-bottom: 0">
      <a [routerLink]="['/work']" style="margin-top: 10vh">
        back to projects
      </a>
      <!-- <div
        class="right-section"
        style="
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        "
      >
        <h2 style="margin: 0">next project title</h2>
        <span class="material-icons" style="font-size: 3em; margin-left: 0.4em"
          >east</span
        >
      </div> -->
    </div>
  </div>
</main>
