main
    min-height: 100vh

    img
        filter: grayscale(1)
        opacity: .8

    .portfolio-project-section
        display: flex
        flex-direction: row
        flex-wrap: wrap

        .left-section
            width: 33.3%

        .right-section
            flex: 1

            // .stats-items
            //     stye="display: flex; flex-direction: row; justify-content:space-between; align-items: flex-start; width: 100%"

        .section-heading
            margin-top: 0

    .portfolio-project-gallery-section
        display: flex
        flex-direction: row
        align-content: flex-start
        justify-content: space-between
        flex-wrap: wrap

        .image-grid-main-img
            width: 100%
            flex: 1
            img
                width: 100%

        .image-grid
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 2.5em
            grid-auto-rows: minmax(100px, 500px)

            .image-grid-img
                width: 100%
                overflow: hidden

                img
                    min-width: 100%
                    min-height: 100%

    #back-to-work
        transition: all .2s ease
        &:hover
            opacity: 1
