main
    min-height: 100vh

.content
    padding-top: 20vh

    a
        text-decoration: none !important
        border-bottom: none !important

.project-link
    margin-bottom: 0

    h2
        transition: all .5s ease
        margin-bottom: 0

    &:hover
        // text-decoration: underline
        cursor: pointer

        h2
            transform: translateX(5vw)
