<main>
  <div
    *ngIf="projects"
    class="content"
    [@animate]="{ value: '*', params: { delay: '350ms' } }"
  >
    <div class="section">
      <h3
        *ngIf="true"
        class="section-heading"
        style="margin-top: 5em"
        [@animate]="{ value: '*', params: { delay: '350ms' } }"
      >
        SELECTED PROJECTS
      </h3>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
          width: 100%;
        "
      >
        <!-- <app-project-link-one
          *ngFor="let project of projects"
          [project]="project"
          [routerLink]="[project.slug]"
          class="project-link"
          style="width: 100%; margin-bottom: 0"
        >
        </app-project-link-one> -->
        <a
          *ngFor="let project of projects"
          class="project-link"
          [routerLink]="[project.slug]"
          ><h2>{{ project.title }}</h2></a
        >
      </div>
    </div>
    <div class="section section-bottom">
      <h3
        *ngIf="true"
        class="section-heading"
        style="margin-top: 5em"
        [@animate]="{ value: '*', params: { delay: '350ms' } }"
      >
        OTHER PROJECTS
      </h3>
    </div>
  </div>
</main>
