<main>
  <div
    *ngIf="projects"
    class="content"
    [@animate]="{ value: '*', params: { delay: '350ms' } }"
  >
    <div class="section">
      <h3
        *ngIf="true"
        class="section-heading"
        style="margin-top: 5em"
        [@animate]="{ value: '*', params: { delay: '350ms' } }"
      >
        SELECTED PROJECTS
      </h3>
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
          width: 100%;
        "
      >
        <a
          *ngFor="let project of projects"
          class="project-link"
          [routerLink]="[project.slug]"
          ><h2>{{ project.title }}</h2>
          <div class="project-link-one-service-list">
            <div class="year">
              <p style="margin: 0">{{ project.year }}</p>
            </div>
            <div class="line"></div>
            <div
              *ngFor="let service of project.services.split(',')"
              class="project-link-one-service-list-item"
            >
              <p style="margin: 0">{{ service }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="section section-bottom">
      <h3
        *ngIf="true"
        class="section-heading"
        style="margin-top: 5em"
        [@animate]="{ value: '*', params: { delay: '350ms' } }"
      >
        OTHER PROJECTS
      </h3>
      <div class="other-projects-wrapper">
        <app-secondary-project
          *ngFor="let secondaryProject of secondaryProjects"
          [project]="secondaryProject"
        ></app-secondary-project>
      </div>
    </div>
  </div>
</main>
