<div class="project-link-one">
  <div class="left-side">
    <h2
      style="
        text-transform: uppercase;
        font-size: 7em;
        line-height: normal;
        margin-bottom: 10px;
      "
    >
      {{ project.title }}
    </h2>
    <div class="project-link-one-service-list">
      <div
        *ngFor="let service of project.services.split(',')"
        class="project-link-one-service-list-item"
      >
        {{ service }}
      </div>
    </div>
  </div>
  <div class="right-side">
    <div
      class="right-side-image"
      [style.backgroundImage]="'url(' + project.primary_image.url + ')'"
    ></div>
  </div>
  <!-- <p class="project-link-one-description">{{ project.description }}</p>
  <a [routerLink]="['/work/' + project.slug]">
    <app-link-one [linkText]="'view project'"></app-link-one
  ></a> -->
</div>
