<div
  #projectLink
  style="margin-bottom: 10vh"
  class="project-link-wrapper"
  (click)="navigate($event)"
>
  <div class="project-link-one">
    <div class="left-side">
      <div class="left-side-content">
        <h2 class="title">
          {{ project.title }}
        </h2>
        <div class="project-link-one-service-list">
          <div class="year">
            <p style="margin: 0">{{ project.year }}</p>
          </div>
          <div class="line"></div>
          <div
            *ngFor="let service of project.services.split(',')"
            class="project-link-one-service-list-item"
          >
            <p style="margin: 0">{{ service }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right-side" [@navigating3]="switching ? 'work' : 'home'">
      <img class="right-side-image" [src]="project.primary_image.url" />
      <p class="view-project-link">view project</p>
    </div>
  </div>
</div>
