<main>
  <div class="content" [@animate]="{ value: '*', params: { delay: '650ms' } }">
    <!-- <div class="section">
      <h1 [@animate]="{ value: '*', params: { delay: '350ms' } }">
        I help companies leverage technology to move their businesses into the
        future.
      </h1>
      <p style="margin-top: 7.5em; width: 20em">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris auctor
        cursus ligula, sit amet iaculis elit efficitur id. Vestibulum nec leo eu
        ipsum tincidunt tempus id laoreet ipsum. Aliquam sed ipsum ut justo
        malesuada luctus. Etiam accumsan leo vitae est convallis facilisis.
        Vestibulum pellentesque, tortor et vehicula suscipit, orci nisi iaculis
        eros, a pharetra ligula ipsum vitae diam.
      </p>
    </div> -->
    <div class="section">
      <!-- <h2 class="section-heading">background</h2> -->
      <p style="width: 80%; text-transform: uppercase">
        I am a software developer obsessed with problem solving. I currently
        spend most my time woking within the javascript world but I am
        interested in all software technologies. You can usually find me
        building web apps, thinking about quantum mechanics, or training for my
        next marathon.
      </p>
    </div>
    <div class="section timeline-section">
      <!-- <h2 class="section-heading">background</h2> -->
      <h3>Timeline</h3>
      <div class="timeline-items">
        <div class="timeline-item">
          <p>2016</p>
          <div class="line"></div>
          <p>Graduated with degree in Physics with minor in Mathematics</p>
        </div>
        <div class="timeline-item">
          <p>2017</p>
          <div class="line"></div>
          <p>Started teaching myself web development (go node!)</p>
        </div>
        <div class="timeline-item">
          <p>2018</p>
          <div class="line"></div>
          <p>Started Mordev studio as an experiment in starting a business</p>
        </div>
        <div class="timeline-item">
          <p>2020</p>
          <div class="line"></div>
          <p>Closed Mordev studio</p>
        </div>
        <div class="timeline-item">
          <p>2021</p>
          <div class="line"></div>
          <p>Hired by [insert your company name here]</p>
        </div>
      </div>
    </div>
    <div class="section tech-section">
      <!-- <h2 class="section-heading">background</h2> -->
      <div class="left-side">
        <h3>Stack</h3>
        <ul>
          <li>Javascript</li>
          <li>Typescript</li>
          <li>Angular</li>
          <li>NodeJS</li>
          <li>MongoDB</li>
          <li>Strapi</li>
          <li>CSS</li>
          <li>HTML</li>
        </ul>
      </div>
      <div class="right-side">
        <h3>Learning</h3>
        <ul>
          <li>React</li>
          <li>GraphQL</li>
          <li>SQL</li>
        </ul>
      </div>
    </div>
    <div (appear)="onAppear($event)" class="section tech-section">
      <!-- <h2 class="section-heading">background</h2> -->
      <div class="section timeline-section">
        <!-- <h2 class="section-heading">background</h2> -->
        <h3>Training For</h3>
        <div class="timeline-items">
          <div class="timeline-item">
            <p>May 2022</p>
            <div class="line"></div>
            <p>Vancouver Marathon</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="section">
      <h2 class="section-heading">the process</h2>
      <div class="process-section">
        <h2>connect</h2>
        <p style="width: 50%">
          Hello I'm Raymond! But you already know that by now. What's your name?
          We begin by connecting and making sure the fit is good. It's a big
          important decision to begin to transform your business. I want you to
          be comfortable with me and hope we can form a strong working
          relationship.
        </p>
      </div>
      <div class="process-section">
        <h2>explore</h2>
        <p style="width: 50%">
          Are looking for a dashboard to run your business? Maybe a mobile app
          for your members? During exploration we will dig into what you need.
        </p>
      </div>
      <div class="process-section">
        <h2>design</h2>
        <p style="width: 50%">
          Is this blue really blue enough? Maybe that the margin for that button
          should be 2em not 2px. What your customers see is vitally important to
          how they interact with your app or website. Let's work together and
          come up with a design that works for you and them.
        </p>
      </div>
      <div class="process-section">
        <div style="width: 50%">
          <h2>develop</h2>
        </div>
        <div style="max-width: 50%">
          <p>
            I am a fullstack javascript developer. Javascript is the language of
            the internet. It is incredibly powerful and versatile. Whether I'm
            building on the backend in node or the front end in angular,
            javascript allows me to streamline the process.
          </p>
        </div>
      </div>
      <div class="process-section">
        <h2>launch</h2>
        <p style="width: 50%">
          It's the moment of truth. Hit that big red button and get ready for
          launch. I'll help you through this process of transformation and get
          your business ready to grow.
        </p>
      </div>
    </div>
    <div class="section" style="margin-bottom: 0">
      <h2 class="section-heading">the stack</h2>
      <div
        style="
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
        "
      >
        <a href="https://javascript.com"
          ><img
            src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/javascript.png"
            alt=""
            style="background-color: white"
        /></a>
        <a href="https://www.typescriptlang.org/"
          ><img
            src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/typescript.png"
            alt=""
            style="background-color: white"
        /></a>
        <a href="https://angular.io/"
          ><img
            src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/angular.png"
            alt=""
        /></a>
        <a href="https://angular.io/"
          ><img
            src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/1174949_js_react+js_logo_react_react+native_icon.png"
            alt=""
        /></a>
        <a href="https://nodejs.org/"
          ><img
            src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/nodejs.png"
            alt=""
        /></a>
        <a href="https://stripe.com/"
          ><img
            src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/css.png"
            alt=""
        /></a>
        <a href="https://stripe.com/"
          ><img
            src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/html.png"
            alt=""
        /></a>
        <a href="https://strapi.io/"
          ><img
            src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/PNG.monogram.purple.png"
            alt=""
        /></a>
        <a href="https://stripe.com/"
          ><img
            src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/GitHub-Mark-Light-64px.png"
            alt=""
        /></a>
      </div>
    </div> -->
  </div>
</main>
