<footer>
  <div
    class="footer-wrapper"
    [ngStyle]="{ 'background-color': backgroundColor }"
  >
    <div>
      <p>
        Currently open for work <br />
        If you like what you see
        <br *ngIf="windowWidth < 1024" />
        <a
          href="mailto:raymondmorland@gmail.com"
          target="_blank"
          [ngStyle]="{
            color: color,
            'border-bottom': '0.1em solid ' + color,
            'border-bottom-color': color
          }"
          >send me an email</a
        >
      </p>
    </div>
    <div id="bottom-footer">
      <div id="bottom-footer-links">
        <a
          [ngStyle]="{ color: color }"
          (mouseenter)="hovered($event)"
          (mouseleave)="hovered($event)"
          href="https://github.com/RayMorland"
          target="_blank"
          >github</a
        ><a
          [ngStyle]="{ color: color }"
          (mouseenter)="hovered($event)"
          (mouseleave)="hovered($event)"
          href="https://www.linkedin.com/in/raymond-morland/"
          target="_blank"
          >linkedIn</a
        ><a
          [ngStyle]="{ color: color }"
          (mouseenter)="hovered($event)"
          (mouseleave)="hovered($event)"
          download
          href="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/raymond-morland-resume.pdf"
          target="_blank"
          >resume</a
        >
      </div>
      <div
        class="copyright"
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        "
        [ngStyle]="{ color: color }"
      >
        <p style="margin: 0">
          <span
            class="material-icons"
            style="margin-right: 0.3em; vertical-align: middle"
            >copyright</span
          >2021 RAYMOND MORLAND
        </p>
      </div>
    </div>
  </div>
</footer>
