<footer>
  <div
    class="footer-wrapper"
    [ngStyle]="{ 'background-color': backgroundColor }"
  >
    <div
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      "
    >
      <div>
        <h2>ready to begin?</h2>
        <a
          href="mailto:raymondmorland@gmail.com"
          style="margin: 0"
          id="connect-link"
          ><h2 style="display: inline">let's connect</h2></a
        >
      </div>
      <div>
        <div class="social-links">
          <a
            class="social-link"
            href="https://github.com/RayMorland"
            target="_blank"
            ><img
              src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/GitHub-Mark-Light-64px.png"
              alt=""
          /></a>
          <a
            class="social-link"
            href="https://www.linkedin.com/in/raymond-morland"
            target="_blank"
            ><img
              src="https://s3.ca-central-1.amazonaws.com/raymondmorland.com/LI-In-Bug.png"
              alt=""
              style="filter: brightness(0) contrast(100) invert(1)"
          /></a>
        </div>
      </div>
    </div>
    <div
      style="
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-start: space-between;
        align-items: flex-start;
      "
    >
      <!-- <div style="width: 25%">
        <h3>site</h3>
        <ul class="footer-links">
          <li><a [routerLink]="['/about']">about</a></li>
          <li><a [routerLink]="['/work']">work</a></li>
          <li><a href="mailto:raymondmorland@gmail.com">connect</a></li>
        </ul>
      </div> -->
      <!-- <div style="width: 25%">
        <h3>connect</h3>
        <ul class="footer-links">
          <li>
            <a href="mailto:raymondmorland@gmail.com"
              >raymondmorland@gmail.com</a
            >
          </li>
        </ul>
      </div> -->
      <!-- <div style="width: 25%">
        <h3>home base</h3>
        <ul class="footer-links">
          <li><a href="">Kelowna, BC</a></li>
          <li>canada</li>
        </ul>
      </div> -->
    </div>
    <div
      style="
        width: 100%;
        padding: 5em 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        opacity: 0.5;
      "
    >
      <div>
        <a href="">privacy</a><a href="">site info</a><a href="">terms</a>
      </div>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        "
      >
        <span class="material-icons" style="font-size: 1em; margin-right: 0.3em"
          >copyright</span
        >2021 raymondmorland
      </div>
    </div>
  </div>
</footer>
