@use '../../../../assets/styles/_variables' as vars

footer
    width: 100%
    // background-color: #191919
    transition: background-color .75s ease

    .footer-wrapper
        max-width: 100%
        min-height: 1em
        padding: 0vh 10vw 0vh 10vw

        #bottom-footer
            width: 100%
            padding: 5em 0
            display: flex
            align-items: center
            justify-content: space-between
            gap: 30px

            #bottom-footer-links
                display: flex
                align-items: center
                justify-content: space-between
                gap: 20px
            li
                list-style: none
                margin: 0

        .copyright

            span
                margin-bottom: 5px

@media screen and (max-width: vars.$TabletWidth)

    p, .material-icons
        font-size: 18px !important
        text-align: center

    #bottom-footer
        flex-direction: column
        #bottom-footer-links
            flex-direction: column

@media screen and (min-width: vars.$TabletWidth)

    p, .material-icons
        font-size: 22px !important

    #bottom-footer
        flex-direction: column
        #bottom-footer-links
            flex-direction: row

@media screen and (min-width: vars.$LaptopWidth)

    p, .material-icons
        font-size: 2vw !important

    #bottom-footer
        flex-direction: row
