<footer>
  <div
    class="footer-wrapper"
    [ngStyle]="{ 'background-color': backgroundColor }"
  >
    <div>
      <p style="font-size: 2vw">
        Currently open for work <br />
        If you like what you see
        <a
          href="mailto:raymondmorland@gmail.com"
          target="_blank"
          [ngStyle]="{
            color: color,
            'border-bottom': '0.1em solid ' + color,
            'border-bottom-color': color
          }"
          >send me an email</a
        >
      </p>
    </div>
    <div id="bottom-footer">
      <div id="bottom-footer-links">
        <a
          [ngStyle]="{ color: color }"
          (mouseenter)="hovered($event)"
          (mouseleave)="hovered($event)"
          href=""
          >github</a
        ><a
          [ngStyle]="{ color: color }"
          (mouseenter)="hovered($event)"
          (mouseleave)="hovered($event)"
          href=""
          >linkedIn</a
        ><a
          [ngStyle]="{ color: color }"
          (mouseenter)="hovered($event)"
          (mouseleave)="hovered($event)"
          href=""
          >email</a
        >
      </div>
      <div
        class="copyright"
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        "
        [ngStyle]="{ color: color }"
      >
        <span class="material-icons" style="font-size: 2vw; margin-right: 0.3em"
          >copyright</span
        >
        <p style="margin: 0; font-size: 2vw">2021 RAYMOND MORLAND</p>
      </div>
    </div>
  </div>
</footer>
