<main>
  <div class="content" [@animate]="{ value: '*', params: { delay: '650ms' } }">
    <!-- Heading Section -->
    <div class="section">
      <div style="width: 100%">
        <h1
          [@animate]="{ value: '*', params: { delay: '650ms' } }"
          style="
            margin-bottom: 1em;
            text-transform: uppercase;
            font-size: 13vw;
            word-wrap: break-word;
          "
        >
          designer and builder of web apps
        </h1>
      </div>
    </div>
    <div class="section" style="margin-bottom: 0">
      <div #showInfo>
        <p
          style="margin-top: 7.5em; width: 20em"
          [@fadeInOut]="showInfoContent ? '1' : '0'"
        >
          You care about your customers. You care about your business. Do you
          want to leverage the latest technology to grow your business and
          continue to be competitive into the future but don't have the time to
          learn new software? That's what I do. Let me help.
          <br />
        </p>
      </div>
    </div>
    <!-- Projects Section -->
    <div class="section" style="margin-bottom: 0em">
      <div #showProject>
        <h3
          *ngIf="showProjectHeader"
          class="section-heading"
          style="margin-top: 5em"
          [@animate]="{ value: '*', params: { delay: '350ms' } }"
        >
          select projects
        </h3>
      </div>

      <div
        *ngIf="projects"
        class="card-row-1"
        style="display: flex; flex-direction: row; flex-wrap: wrap"
      >
        <app-project-link-one
          *ngFor="let project of projects; last as lastProject; index as i"
          class="card-1"
          [project]="project"
          [ngStyle]="{
            width: '100%',
            'margin-bottom': lastProject ? '0vh' : '5vh'
          }"
        >
        </app-project-link-one>
      </div>
    </div>
    <!-- Blogposts Section -->
    <!-- <div class="section" style="margin-bottom: 5em">
      <h2>some <em style="font-family: 'Cardo', serif">words</em></h2>
      <div
        style="
          width: 25%;
          background-color: #fff;
          height: 3px;
          margin-top: 5.3em;
        "
        [@animate]="{ value: '*', params: { delay: '350ms' } }"
      ></div>
      <div
        *ngIf="blogposts"
        class="card-row-1"
        style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%"
      >
        <div
          *ngFor="let blogpost of blogposts | slice: 0:3"
          [routerLink]="['words/' + blogpost.slug]"
          class="card-1"
          style="width: 45%"
        >
          <h3 style="font-size: 3em">{{ blogpost.title }}</h3>
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              padding-right: 20%;
            "
          >
            <p>
              {{ blogpost.subtitle }}
            </p>
          </div>
        </div>
      </div>
      <div style="margin-top: 5.3em">
        <a routerLink="words">More Words</a>
      </div>
    </div> -->
  </div>
</main>
