<main>
  <div class="content">
    <!-- Heading Section -->
    <div appear class="section">
      <div style="width: 100%">
        <h1
          style="
            margin-bottom: 1em;
            text-transform: uppercase;
            font-size: 13vw;
            word-wrap: break-word;
          "
        >
          designer and builder of web apps
        </h1>
      </div>
    </div>
    <div appear class="section" style="margin-bottom: 0">
      <p id="info-paragraph">
        Welcome to my site! My name is Raymond and I write code. I primarily
        work on websites and other web applications. I am currently looking for
        full time work writing code for anyone who needs it. Check out my
        projects and if you like what you see send me an email and lets build
        something.
        <br />
      </p>
    </div>
    <!-- Projects Section -->
    <div appear class="section" style="margin-bottom: 0em">
      <h3
        appear
        class="section-heading"
        style="margin-top: 5em; margin-bottom: 10vh"
      >
        select projects
      </h3>
      <div
        *ngIf="projects"
        class="card-row-1"
        style="display: flex; flex-direction: row; flex-wrap: wrap"
      >
        <app-project-link-one
          appear
          *ngFor="let project of projects; last as lastProject; index as i"
          class="card-1"
          [project]="project"
          [ngStyle]="{
            width: '100%',
            'margin-bottom': lastProject ? '0vh' : '5vh'
          }"
        >
        </app-project-link-one>
      </div>
    </div>
  </div>
</main>
