@use '../../../assets/styles/_variables' as vars

main
    min-height: 100%
    // background-color: #8BA78F

.section
    transition: all 1s ease

.card-1
    text-decoration: none

    &:hover
        cursor: pointer

.image-filter
    background-color: rgba(139, 167, 143, .6)

a
    text-decoration: none
    border-bottom: 1px solid white

@media screen and (min-width: vars.$LaptopWidth)
    #info-paragraph
        margin-top: 7.5em
        width: 50%
